@import "common/foundation/variables";
@import "variables";
@import "sidebar";

.topic-list-header {
  display: none;
}

.alert.alert-info {
  margin-bottom: 10px;
}

@media screen and (min-width: 650px) {
  .navigation-topics,
  .categories-list,
  .tags-page,
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    // Structuring the main grid layout

    .container:first-of-type {
      grid-area: alerts;
    }

    .container:nth-of-type(2),
    .tag-info {
      grid-area: pins;
    }

    .list-controls {
      grid-area: nav;
    }

    .list-container {
      grid-area: topic-list;
    }

    .list-container + span {
      grid-area: sidebar;
      .sidebar,
      .dbook-sidebar {
        display: block;
      }
      @media screen and (max-width: 920px) {
        display: none;
      }
    }

    #main-outlet {
      display: grid;
      grid-column-gap: 1em;

      @if $sidebar-alignment == "left" {
        grid-template-columns: 2fr 505px 3.5fr; // 12 column grid
        grid-template-areas:
          "alerts alerts alerts"
          "pins pins pins"
          "nav topic-list sidebar";
      } @else {
        grid-template-columns: 2fr 505px 3.5fr;
        grid-template-areas:
          "alerts alerts alerts"
          "pins pins pins"
          "sidebar topic-list nav";
      }

      @media screen and (max-width: 920px) {
        @if $sidebar-alignment == "left" {
          grid-template-columns: 1fr 3fr;
          grid-template-areas:
            "alerts alerts alerts"
            "pins pins pins"
            "nav topic-list topic-list";
        } @else {
          grid-template-columns: 3fr 1fr;
          grid-template-areas:
            "alerts alerts alerts"
            "pins pins pins"
            "topic-list topic-list nav";
        }
      }
    }

    // Changing the layout to fit the grid

    .category-breadcrumb {
      font-size: 1.1487em;
      .badge-wrapper.bullet .badge-category-parent-bg,
      .badge-wrapper.bullet .badge-category-bg {
        width: 10px;
        height: 10px;
      }

      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper.box {
        font-weight: normal;
        padding: 4px 6px;
      }
    }

    .list-container {
      min-width: 70%; // Don't let the topic list get too narrow
      .topic-list,
      .category-list {
        th {
          padding-top: 0; // Align to top of nav
        }
      }
    }
    .latest-topic-list .table-heading,
    .top-topic-list .table-heading {
      padding-top: 0;
    }

    .navigation-controls {
      flex-wrap: wrap;
      width: 100%;
    }

    .list-controls {
      z-index: 100; // Above topic list content
      .container {
        position: -webkit-sticky; // required for Safari
        position: sticky;
        top: 4em; // required for sticky
      }

      #create-topic {
        flex: 1 1 auto;
        order: 5;
        margin-bottom: 0.5em;
        margin-left: 0;
      }

      button {
        order: 6;
      }
      .notifications-button {
        order: 7;
        button {
          height: 2em;
        }
      }

      .edit-category {
        flex: 1 1 auto;
        margin-right: 0.5em;
      }

      .categories-admin-dropdown {
        order: 8;
        margin-bottom: 0;
        button {
          height: 100%;
        }
      }

      .nav-pills {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        margin: 0.5em 0;
        li {
          margin: 0;
          &:empty {
            display: none;
          }
        }
        & > li > a {
          padding: 0.5em 0.714em;
        }
      }

      .select-kit-header {
        span.category-name {
          max-width: 8.5em;
        }
      }

      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
        font-weight: normal;
        font-size: $font-down-1;
      }
      .select-kit.combo-box.category-drop .select-kit-row .topic-count {
        font-size: $font-down-1;
      }

      .category-navigation,
      .navigation-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1px;
      }
      ol {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        margin: 0;
        li.category-drop,
        li.tag-drop {
          margin: 0;
          flex: 1 1 100%;
          &:not(:first-of-type) {
            margin: 0.5em 0 0 0;
          }
        }
      }

      .select-kit .select-kit-header .caret-icon {
        &:before {
          content: "\f0d7";
        }
      }
    }

    // Category breadcrumb

    .category-breadcrumb {
      > li {
        height: unset;
      }
      .select-kit-header {
        align-self: initial;
        height: unset;
        margin-bottom: 0;
      }
    }

    #navigation-bar {
      margin-top: 1em;
      > li > a {
        flex: 1 1 100%;
      }
    }

    .navigation-controls {
      button {
        margin-bottom: var(--nav-space) !important;
      }
    }
  }

  .tags-page.staff {
    #main-outlet #list-area {
      .admin-tag {
        order: 9;
        flex: 0 1 calc(50% - 0.25em);
        margin-bottom: 5px;
        height: 2em;
        &:nth-of-type(1) {
          margin-right: auto;
        }
      }
    }
  }
}

// Global

body {
  background: $background;
}

.topic-list {
  table-layout: fixed;
}

.wrap {
  max-width: 1020px;
}

#create-topic {
  background: var(--tertiary, $tertiary);
  color: var(--secondary, $secondary);
  .d-icon {
    color: currentColor;
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: var(--tertiary, $tertiary);
}

.btn {
  border-radius: 4px;
  color: #333;
  border: 1px solid $border-color;
  &.widget-button {
    .d-icon {
      color: var(--primary-very-high, $primary-very-high);
    }
  }
  .d-icon {
    color: #333;
  }
}

.btn-default {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid $border-color;

  .discourse-no-touch & {
    &:hover {
      background: var(--tertiary, $tertiary);
    }
  }
}

.btn-primary {
  color: var(--secondary, $secondary);
  .d-icon {
    color: var(--secondary, $secondary);
  }
}

#topic-footer-buttons
  .topic-footer-main-buttons
  .topic-admin-menu-button-container {
  .btn {
    background: rgba(255, 255, 255, 0.7);
    .discourse-no-touch & {
      &:hover {
        background: var(--tertiary, $tertiary);
      }
    }
  }
}

.widget-button.btn.popup-menu-button.toggle-admin-menu.keyboard-target-admin-menu.no-text.btn-icon {
  background: rgba(255, 255, 255, 0.7);
  .discourse-no-touch & {
    &:hover {
      background: var(--tertiary, $tertiary);
    }
  }
}

.popup-menu .btn,
.popup-menu-btn,
.popup-menu-btn-danger {
  border: none;
}

.select-kit.dropdown-select-box .dropdown-select-box-header {
  border: 1px solid $border-color;
}

.select-kit .select-kit-row.is-selected:not(.is-highlighted) {
  .icons {
    .d-icon {
      color: var(--secondary, $secondary);
    }
  }
  .texts {
    .name,
    .desc {
      color: var(--secondary, $secondary);
    }
  }
}

.select-kit.dropdown-select-box.period-chooser
  .period-chooser-row.is-selected:not(.is-highlighted) {
  color: var(--secondary, $secondary);
  .top-date-string {
    color: var(--secondary, $secondary) !important;
  }
}

.list-controls .combo-box .combo-box-header {
  background: transparent;
}

.combo-box .combo-box-header {
  border-radius: 2px;
}

.nav-pills {
  font-size: $font-down-1;
}

.nav-pills > li > a {
  border: 1px solid transparent;
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  color: #333;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: currentColor;
}

#list-area .show-more.has-topics .alert {
  width: 457px;
}

// Header

.d-header {
  font-size: $font-down-1;
  border-bottom: 1px solid $header-border;
  box-shadow: none;
  .d-icon {
    color: rgba(var(--primary-rgb, $primary), 0.75);
  }
}

.d-header-icons .icon:hover .d-icon,
.d-header-icons .icon:focus .d-icon,
.drop-down-mode .d-header-icons .active .icon .d-icon {
  color: var(--tertiary, $tertiary);
}

.d-header-icons .icon:hover,
.d-header-icons .icon:focus {
  background: rgba(255, 255, 255, 0.7);
}

.user-menu .quick-access-panel li:hover,
.user-menu .notifications li:hover,
.user-menu .notifications li:focus,
.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel li.heading a:hover,
.menu-panel li.heading a:focus {
  background: var(--tertiary-low, $tertiary-low);
  text-decoration: underline;
}

.menu-panel {
  font-size: $font-up-1;
  .d-icon {
    color: var(--tertiary, $tertiary);
  }
}

// Sidebar

.sidebar {
  display: none;
  top: 4em;
  position: sticky;
  max-width: 310px;
  @media screen and (max-width: 920px) {
    display: none;
  }
  .visitor {
    display: none;
  }
}

.anon {
  .sidebar {
    .visitor {
      display: block;
      button {
        display: block;
        margin-top: 1em;
      }
    }
  }
}

.dbook-sidebar {
  display: none;
  @include fb-background();
  border-radius: 4px;
  border: 1px solid $border-color;
  padding: 1em;
  margin-bottom: 0.5em;
  color: var(--primary, $primary);
  .d-icon {
    color: var(--primary-high, $primary-high);
  }
  h2 {
    font-weight: normal;
    margin-bottom: 0;
    line-height: $line-height-medium;
  }
  h3 {
    font-size: 1em;
  }
  p {
    margin-top: 0;
  }
  .badges {
    display: block;
    .badge-type-1 {
      .d-icon {
        color: var(--gold, $gold);
      }
    }
    .badge-type-2 {
      .d-icon {
        color: var(--silver, $silver);
      }
    }
    .badge-type-3 {
      .d-icon {
        color: var(--bronze, $bronze);
      }
    }
  }
  .likes {
    border-top: 1px solid var(--primary-low, $primary-low);
    border-bottom: 1px solid var(--primary-low, $primary-low);
    padding: 1em 0;
    margin-bottom: 1em;

    .d-icon-heart {
      color: var(--love, $love);
      font-size: 0.9em;
    }
    .user-stat {
      margin-right: 0.5em;
      display: inline-block;
    }
  }
  .reads {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;
    .d-icon {
      margin-right: 0.25em;
      font-size: 0.9em;
    }
  }
}

// Topic

.gap {
  padding-left: 0;
}

.deleted {
  .topic-body,
  .topic-avatar {
    background: var(--danger-low, $danger-low);
    border-color: var(--danger-medium, $danger-medium);
  }
}

.timeline-container .topic-timeline .timeline-handle {
  background: var(--tertiary, $tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: var(--tertiary-medium, $tertiary-medium);
}

.topic-map {
  border-radius: 4px;
}

.topic-avatar {
  height: unset;
}

.topic-post.sticky-avatar .topic-avatar {
  margin-bottom: 0;
}

// Suggested

#suggested-topics {
  .topic-list .main-link {
    max-width: 758px;
    .link-middle-line {
      .topic-image,
      img {
        display: none;
      }
    }
    .topic-excerpt {
      display: none;
    }
  }
}

// Tags

.discourse-tags {
  .discourse-tag:not(.assigned-to) {
    &:before {
      content: "#";
      display: inline-block;
    }
  }
}

.topic-list .discourse-tags .discourse-tag {
  color: var(--tertiary, $tertiary);
}

// Badges

.badge-wrapper {
  font-weight: normal;
}

.extra-info-wrapper .topic-statuses .d-icon,
.extra-info-wrapper .badge-wrapper.bullet span.badge-category,
.extra-info-wrapper .badge-wrapper.bar span.badge-category,
.extra-info-wrapper .badge-wrapper.none span.badge-category {
  color: var(--header_primary, $header_primary);
}

.extra-info-wrapper {
  .badge-wrapper .d-icon {
    color: currentColor;
  }
}

.extra-info-wrapper .badge-wrapper.bullet {
  padding-top: 0;
}

.extra-info-wrapper .topic-header-extra .discourse-tags {
  a {
    color: var(--header_primary, $header_primary) !important;
  }
}

.extra-info h1 {
  font-size: 1.5em;
}

.badge-card {
  border-radius: 4px;
}

// User

.user-content {
  padding: 1em;
  border-radius: 4px;
}

.user-main .about {
  border-radius: 4px;
}

.user-main .about .details {
  padding: 1em;
  border: 1px solid var(--primary-low, $primary-low);
  border-radius: 4px;
  background: var(--secondary, $secondary);
}
.user-main .about.collapsed-info .details {
  padding: 1em;
  background: var(--secondary, $secondary);
}

.user-main .about .secondary {
  padding: 0.5em;
  border: 1px solid var(--primary-low, $primary-low);
  border-radius: 4px;
  margin-top: 0.25em;
}

.stats-section .label {
  color: var(--primary-medium, $primary-medium);
}

.top-sub-section li {
  padding: 2px 0;
  border-left: none;
}

.user-stream .item,
.user-stream .user-stream-item {
  border-radius: 4px;
  margin-bottom: 0.25em;
}

.stats-section ul {
  display: flex;
  flex-wrap: wrap;
  li.linked-stat a,
  li {
    flex: 0 0 auto;
    padding: 0;
  }
  li {
    margin-right: 1.5em;
    margin-bottom: 1em;
  }
}

// category page

.category-list {
  background: var(--secondary, $secondary);
  padding: 1em;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $border-color;
  thead {
    display: none;
  }
  tbody {
    display: block;
    tr {
      display: flex;
      width: 100%;
      .category {
        max-width: 80%;
      }
      .subcategories {
        overflow: hidden;
      }
      .subcategory {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
      .topics {
        margin-left: auto;
      }
    }
  }
}

.category-list.with-topics {
  tbody {
    .latest {
      width: 100%;
      margin-bottom: 0.5em;
      .featured-topic {
        padding-left: 0;
        border-top: 1px solid var(--primary-low, $primary-low);
        padding-top: 0.75em;
      }
    }
    tr {
      flex-wrap: wrap;
      .subcategories {
        display: block;
        .subcategory {
          display: inline;
        }
      }
    }
  }
  .category {
    width: 100%;
    max-width: unset;
    border-left: none !important;
    border-top: 5px solid;
    padding-bottom: 0;
    h3 {
      font-size: $font-up-3;
      margin-top: 0.25em;
    }
  }

  tbody tr .topics {
    position: absolute;
    right: 1em;
    padding-top: 1.5em;
  }
}

.categories-and-latest,
.categories-and-top {
  border-radius: 4px;
}

.categories-and-latest div.column.categories,
.categories-and-top div.column.categories {
  margin-right: 0 !important;
}

.top-topic-list,
.latest-topic-list {
  background: var(--secondary, $secondary);
  padding: 1em;
  border-radius: 4px;
  border: 1px solid $border-color;
}

.category-list .subcategories .subcategory {
  display: inline;
}

.more-topics {
  .pull-right {
    // 🤢
    float: none;
  }
}

.category-boxes,
.category-boxes-with-topics {
  background: var(--secondary, $secondary);
  margin-top: 0;
  padding: 1.5em 1em 0.5em;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $border-color;
  .category-box {
    width: 100%;
    border-radius: 4px;
  }
  .category-box-inner {
    border-radius: 0 4px 4px 0;
  }
  .subcategories {
    justify-content: center;
  }
}

.category-boxes-with-topics {
  .category-box .logo.aspect-image img {
    margin: 0;
  }
  h3 {
    font-size: $font-up-3;
    text-align: left;
    margin-top: 0.5em;
  }
}

// Composer

.grippie {
  border-radius: 4px 4px 0 0;
}

#reply-control {
  border-radius: 4px 4px 0 0;

  .btn {
    border: unset;
  }
}

.d-editor-button-bar {
  .select-kit.dropdown-select-box .dropdown-select-box-header {
    border: none;
  }
  .btn:hover {
    background: var(--tertiary, $tertiary);
  }
}

// Search

.search-container .search-advanced-sidebar .search-advanced-title {
  background: var(--secondary, $secondary);
  border-radius: 4px 4px 0 0;
  border: 1px solid $border-color;
}

.search-container .search-advanced-sidebar .search-advanced-filters {
  border-radius: 0 0 4px 4px;
  border: 1px solid $border-color;
  border-top: none;
}

.search-results {
  box-sizing: border-box;
}

.fps-result {
  background: var(--secondary, $secondary);
  padding: 1em 1em 1em 0.7em;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
}

.suggested-topics .suggested-topics-title {
  font-size: 1.65em;
  font-weight: normal;
}

#topic-footer-buttons {
  padding: 0;
}

.topic-list-bottom {
  margin: 0;
}

.education,
.group-details-container,
.tag-list {
  background: var(--secondary, $secondary);
  padding: 1em;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
}

.tag-list {
  margin-top: 0;
}

.directory table,
.groups-table {
  margin-top: 1em;
  background: var(--secondary, $secondary);
  border-radius: 4px;
}

.directory .me .username a,
.directory .me .name,
.directory .me .title,
.directory .me .number,
.directory .me .time-read {
  color: var(--tertiary, $tertiary);
}

#banner,
.alert.alert-info {
  background: var(--tertiary-medium, $tertiary-medium);
  border-radius: 4px;
  border: 1px solid var(--tertiary-high, $tertiary-high);
  color: var(--secondary, $secondary);
  .close {
    color: rgba(var(--secondary, $secondary), 0.5);
  }
}

.bookmark-with-reminder.modal .bookmark-options-button,
.modal-header .modal-close,
#banner .close,
.alert.alert-info .close {
  border: none;
}

.bookmark-with-reminder.modal .bookmark-options-button {
  padding-right: 12px;
}

// admin

.admin-controls .nav-pills > li a.active {
  background: var(--primary-medium, $primary-medium);
  color: var(--secondary, $secondary);
}

.boxed.white {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $border-color;
}

// logged out

.header-buttons {
  .sign-up-button,
  .login-button {
    background: rgba(var(--primary-rgb, $primary), 0.75);
    color: var(--tertiary-low, $tertiary-low);
    .d-icon {
      display: none;
    }
    .discourse-no-touch & {
      &:hover {
        background: var(--tertiary-low, $tertiary-low);
        color: var(--tertiary, $tertiary);
      }
    }
  }
}

// topic list

body:not(.categories-list) .topic-list {
  .topic-list-body {
    border: none;
  }

  .topic-list-item {
    border: none;
  }

  .topic-list-item-separator {
    .topic-list-data {
      display: block;
      width: 486px;
      margin-bottom: 1em;
    }
  }

  .main-link {
    @include fb-background();
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 12px;

    .byline {
      display: flex;
      padding: 0.75em 1em 0.5em 1em;
      img.avatar {
        margin: 3px 8px 0 0;
      }
      .author {
        margin-right: auto;
        font-size: 0.813em;
        .username {
          font-weight: bold;
        }
        .relative-date {
          font-size: 0.85em;
          color: var(--primary-medium, $primary-medium);
        }
        a {
          display: flex;
        }
      }
      .badge-wrapper {
        font-size: $font-down-2;
        font-weight: normal;
        margin-top: 1px;
        align-self: flex-start;

        .d-icon {
          color: currentColor;
        }
      }
      .badge-wrapper.bullet {
        margin-right: 0;
        margin-left: 8px;
      }
      .name-and-date {
        span {
          display: block;
        }
      }
    }

    .link-middle-line {
      border-bottom: 1px solid $border-color;
      padding: 0.5em 1em 0 1em;

      .topic-title {
        font-size: 22px;
        color: var(--tertiary, $tertiary);
        line-height: 1.3;
        margin-top: 0.25em;
        margin-bottom: 1em;
        &:hover {
          text-decoration: underline;
        }
      }

      .discourse-tags {
        margin: 0 0 1em 0;
      }

      .topic-image + .discourse-tags {
        margin-top: 1em;
      }

      .topic-title + .discourse-tags {
        margin-top: -1em;
      }

      .topic-image {
        max-height: 350px;
        overflow-y: hidden;
        width: calc(100% + 2em);
        margin: 0.25em -1em 0 -1em;
      }
      img {
        display: block;
        width: 100%;
        height: auto;

        &.emoji {
          width: 20px;
          height: 20px;
          margin: 0;
          display: inline-block;
          vertical-align: baseline;
        }
      }

      img[src$=".ico"],
      img[src*="favicon"] {
        display: none !important;
      }

      .discourse-tags {
        display: block;
        a {
          font-size: $font-down-1;
        }
      }

      .topic-excerpt {
        font-size: 14px;
        color: var(--primary, $primary);
        margin: 0 0 1em 0;
        .emoji {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin: 0;
        }
      }
    }

    #link-middle-line-excerpt {
      .topic-title {
        margin-bottom: 0.25em;
      }
    }

    .link-bottom-line {
      padding: 0.6em 1em 0.6em 1em;

      a {
        font-size: $font-down-1;
        display: flex;
        align-items: center;
        color: var(--primary-medium, $primary-medium);
        &.likes .d-icon {
          color: var(--love, $love);
          margin-top: -1px;
        }
        .d-icon {
          margin-left: 0.25em;
        }
        &:empty {
          display: none;
        }
      }
      .badge-posts {
        margin-left: auto;
      }
    }
  }
}

#show-tag-info {
  margin-right: auto;
  flex: 1 1 auto;
}

.category-heading {
  p {
    margin-top: 0;
  }
}

section.tag-info {
  padding-top: 1.5em;
  border-color: $border-color;
  border-radius: 4px;
  background: var(--secondary, $secondary);
}

.post-notice {
  width: 100%;
}

.embedded-posts.bottom .row .topic-avatar,
.embedded-posts.bottom .row .topic-body {
  border-top: 1px solid var(--primary-low);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.embedded-posts.top .row .topic-avatar,
.embedded-posts.top .row .topic-body {
  border: none;
}

// Welcome Topic Banner
.welcome-cta {
  @include fb-background();
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: none;

  &__content {
    margin-left: 1.25em;
  }
}
